h1{
    text-align: center;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #ea0000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background: #d10303;
}
section{
    width: 50%;
    margin: auto;
}